
/* --- HERO SECTION --- */
.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.container-hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
   padding-top: 200px; 
  padding-bottom: 200px;
  padding-left: 200px;
}


.hero-title {
  color: #ffffff;
  font-size: 68px;
  font-weight: 500;
  max-width: 250px;
  margin-bottom: 10px;
}

.hero-subtitle{ 
color: #ffffff;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 10px;
  text-transform: uppercase;
   max-width: 300px;
    line-height: 1.5;
}
 

.container-button{
    display: flex;
    justify-content: center;
    width: 1350px;
    height: 300px;
}


.main-button {
  display: block;   
  padding: 16px 32px;
  min-width: 331px;
  height: 99px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: white;
  font-weight: 500px;
  font-size: 24px;
  line-height: 1.5px;
  letter-spacing: 0.04em;
  color: black;
  border: 1px solid #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button-text {
  margin-left: 20px; 
}


.main-button:hover,
.main-button:focus {
    border-color: 1px solid #ffffff;
  background-color: #000000;
  color: #ffffff;
}

