/* RESET */
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}



  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: baseline;
  background-color: grey;
   min-height: 100vh;
  background-image: url("/images/IMG_5221.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  font-family: "Montserrat", sans-serif;
  }


  .link {
    text-decoration: none;
    color: inherit;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


