.background {
   background-image: url("/images/IMG_5221.JPG");
   min-height: 100vh;
   background-repeat: no-repeat;
   position: relative;
   padding-bottom: 80px;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;

}
.service-section{
   background-color: black;
   padding: 90px 40px 35px 40px;
   margin-top: 80px;
}
.service-title{
   display: flex;
   color: #ffffff;
   padding-left: 280px;
   margin-bottom: 30px;
   font-size: 54px;
   font-weight: 500;
}
.service-text{
   display: flex;
   color: #ffffff;
   padding-left: 280px;
   margin-bottom: 60px;
   line-height: 2;
   font-weight: 300 ;
   max-width: 1060px;
}
.price-container {
   padding: 60px 200px;
   margin: 40px;
   margin: 0;
   background-color: #52691d;

}
.menu-price {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 30px;
   list-style: none;
}
.price-item {
   overflow: hidden;

}
.price-item img {
   object-fit: cover;
   display: block;
   max-height: 323px;
   min-width: 295px;
}
.img-container{
   display: flex;
   max-height: 323px;
   max-width: 295px;
}
.price-overlay {
   position: relative;
   display: flex;
   flex-direction: column;
   background-color: #000000;
   margin-left: 20px;
   margin-top: -80px;
   padding: 40px 30px 40px 20px;
}


/* Плашка */
.price-card {
   display: block;

   padding: 16px 18px;
   background-color: black;
   padding: 20px 20px 20px 9px;
}
.price-title{
   color: #ffffff;
   font-size: 18px;
   font-weight: 300;
   margin-bottom: 20px;
}

.price-text{
   color: #ffffff;
   font-weight: 300;
   font-size: 14px;
}



/* --- FOOTER SECTION --- */
.footer-section{
   display: flex;
   background-color: black;
   flex-direction: column;
   padding-left: 280px;;
   margin: 0 40px 0px 40px;
   padding-top: 80px;
   padding-bottom: 190px;
}
.footer-title {
   display: flex;
   color: #ffffff;
   margin-bottom: 30px;
   font-size: 34px;
   font-weight: 400;
}

.footer-text {
   display: flex;
   color: #ffffff;
   margin-bottom: 40px;
   line-height: 2;
   font-weight: 300;
   font-size: 14px;
}
.send-form{
   display: flex;
   gap: 30px;
   align-items: flex-end;
}
.form-field {
   display: flex;
   flex-direction: column;
}
.form-label {
   color: #ffffff;
   font-size: 13px;
   margin-bottom: 8px;
   font-weight: 200;
   letter-spacing: 0.01em;
}

.form-input {
   background: transparent;
   border: none;
   border-bottom: 1px solid rgba(255, 255, 255, 0.5);
   width: 140px;
   padding: 6px 0;
   color: #fff;
   outline: none;
}

   .form-input:focus,
   .form-input:hover{
   border-bottom-color: #fff;
   box-shadow: 0 1px 0 0 #fff;
}

.form-input:focus {
   border-bottom-width: 2px;
}
.form-input {
   background: transparent;
   border: none;
   border-bottom: 1px solid #e9e7e7;
   width: 140px;
   padding: 8px 0;
   color: #fff;
   font-size: 14px;
   font-weight: 300;
   outline: none;
}
.form-btn{
   display: block;
   min-width: 139px;
   height: 36px;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
   background: rgb(243, 217, 145);
   font-weight: 500px;
   font-size: 13px;
   line-height: 1.5px;
   letter-spacing: 0.04em;
   color: black;
   border: 1px solid rgb(243, 217, 145);
   transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
   margin-bottom: 10px;
}


.form-btn:hover,
.form-btn:focus {
   border-color: 1px solid rgb(243, 217, 145);
   background-color: #000000;
   color: rgb(243, 217, 145);
}