 /* RESET */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .container {
    /* max-width: 320px; */
     padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: baseline;
    background-color: grey;
  }

  button {
    cursor: pointer;
  }

  .link {
    text-decoration: none;
    color: inherit;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.header .container {
  display: flex;
  align-items: center;
}

.nav-list {
    gap: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.nav-link {
 padding: 10px;
  margin: 4px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-social-icon {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}


/* --- icons ---     */
.social-header {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-social-icon .social-media-text {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 16px;
  align-items: baseline;
}

.social_media {
  fill: #ffffff;
}

.container-social-icon .media-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

.media-icons .social-link {
    color: #ffffff;
  background-color: #000000;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-icons .social-link:hover,
.media-icons .social-link:focus {
  background-color: var(--green);
}

.container-hero {
    display: flex;
    flex-direction: column;

}
.container-button{
    display: flex;
    justify-content: center;
    width: 1350px;
    height: 300px;
}
.main-button {
  display: block;   
  padding: 16px 32px;
  min-width: 331px;
  height: 99px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: white;
  font-weight: 500px;
  font-size: 24px;
  line-height: 1.5px;
  letter-spacing: 0.04em;
  color: black;
 margin: auto;
  border: 1px solid #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-text {
  margin-left: 20px; /* подбери сколько надо */
}
.main-button:hover,
.main-button:focus {
    border-color: 1px solid #ffffff;
  background-color: #000000;
  color: #ffffff;
}

  /* .nav {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
     gap: 40px;
    justify-content: space-around;
     align-items: center;
    margin-right: auto;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  } */