.container {
    background-color: rgb(8, 8, 8);
}

.top-works__title {
    display: flex;
        color: #ffffff;
        font-size: 40px;
        font-weight: 400;
        justify-content: center;
        padding-top: 150px;
        padding-bottom: 50px;
}

.top-works {
    padding: 40px 0;
}

.top-works__title {
    margin: 0 0 18px;
}